<ion-content padding>
  <ion-grid>
    <ion-row>
      <ion-col id="header">
        <p id="header-text">Previous Workouts</p>
      </ion-col>
      <ion-col>
        <ion-icon (click)="goHome()" id="back-arrow" name="arrow-dropright-circle"></ion-icon>
      </ion-col>
    </ion-row>
  </ion-grid>

  <div *ngIf="previousWorkouts; else previousWorkoutsError">
    <ion-grid id="top">
      <ion-row>
        <ion-col>Time</ion-col>
        <ion-col>Distance</ion-col>
      </ion-row>
    </ion-grid>
    <ion-grid id="bottom">
      <ion-row *ngFor="let workout of previousWorkouts">
        <ion-col>{{workout.time}}</ion-col>
        <ion-col>{{workout.distance}}</ion-col>
      </ion-row>
    </ion-grid>
    <div (click)="clearPreviousWorkouts()" id="clear-workouts">
      <p id="button-text">Clear List</p>
    </div>
  </div>

  <ng-template #previousWorkoutsError>
    <h3>Get working! There are no previous workouts.</h3>
  </ng-template>



</ion-content>
